In [1]:
#import relevant module
from src.utils.extract import extract_database, extract_csv
from src.profiling.profiling import Profiling
from src.transformation.transformation import Transformation
from src.utils.load_data import load_data
from pprint import pprint

=========================================EXTRACT DATA=============================================

In [2]:
df_csv = extract_csv("new_bank_transaction.csv")
df_marital_status = extract_database("marital_status")
df_education_status = extract_database("education_status")
df_marketing_campaign_deposit= extract_database("marketing_campaign_deposit")

=========================================SHOW EXTRACTED DATA=============================================

In [3]:
df_csv.show()

+-------------+----------+-----------+----------+-------------+------------------+---------------+---------------+-----------------------+
|TransactionID|CustomerID|CustomerDOB|CustGender| CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount (INR)|
+-------------+----------+-----------+----------+-------------+------------------+---------------+---------------+-----------------------+
|       T33671|  C1010011|    19/8/92|         F|        NOIDA|          32500.73|        26/9/16|         123813|                   4750|
|      T173509|C1010011_2|     5/8/83|         M|    NEW DELHI|         120180.54|         9/8/16|          11229|                    356|
|      T189175|  C1010037|    13/9/81|         M|    BANGALORE|          95859.17|         9/8/16|         162142|                  19680|
|      T736258|  C1010112|    3/10/68|         M|      GURGAON|         346856.49|         2/9/16|         161007|                 1318.5|
|      T875706|  C1010135|    11/8/86|         F|    BANGALORE|          11795.32|         8/9/16|         215101|                    457|
|      T927940|  C1010190|    5/10/81|         M|        DELHI|          65243.72|        11/9/16|         122941|                   9000|
|       T40548|  C1010214|   16/12/94|         M|    BANGALORE|           1148.09|        27/9/16|         183600|                    168|
|      T944019|  C1010244|   24/12/86|         M|    HYDERABAD|            487.01|        11/9/16|         221758|                   2000|
|      T723409|  C1010319|     3/9/92|         F|     VARANASI|           6174.51|         2/9/16|          84826|                     50|
|      T148630|  C1010322|     8/9/91|         F|         PUNE|          21050.45|         5/8/16|         184609|                   2350|
|       T73618|  C1010365|    14/4/85|         F|    HYDERABAD|          28710.31|         2/8/16|         175710|                    404|
|      T469560|C1010365_2|   23/10/76|         M|NAGPUR NAGPUR|           15686.8|        21/8/16|         181922|                   1800|
|      T307802|  C1010383|   19/12/95|         M|     AMRITSAR|          12493.86|        10/8/16|         180735|                   4800|
|      T758005|  C1010438|   11/10/82|         F|        DELHI|          94507.49|         1/9/16|         175552|                    830|
|      T268218|  C1010512|    8/11/54|         M|       MUMBAI|              0.02|        12/8/16|         174854|                   1783|
|      T407131|  C1010517|     7/8/80|         M|     AZAMGARH|          30174.61|        18/8/16|         171156|                    200|
|      T127098|C1010517_2|   19/10/94|         M|SRIPERUMBUDUR|          14750.09|         5/8/16|          32445|                    150|
|      T945796|  C1010531|    26/9/82|         M|        NOIDA|            5856.1|        10/9/16|         201529|                    505|
|      T997755|  C1010576|    10/5/86|         M|  RUDRAPRAYAG|         205915.47|        14/9/16|         123628|                   1625|
|      T281933|  C1010712|    15/2/89|         F|   CHANDIGARH|          11891.82|        11/8/16|         140203|                 868.51|
+-------------+----------+-----------+----------+-------------+------------------+---------------+---------------+-----------------------+
only showing top 20 rows

In [4]:
df_marital_status.show()

+----------+--------+--------------------+--------------------+
|marital_id|   value|          created_at|          updated_at|
+----------+--------+--------------------+--------------------+
|         1| married|2025-02-28 15:31:...|2025-02-28 15:31:...|
|         2|  single|2025-02-28 15:31:...|2025-02-28 15:31:...|
|         3|divorced|2025-02-28 15:31:...|2025-02-28 15:31:...|
+----------+--------+--------------------+--------------------+

In [5]:
df_education_status.show()

+------------+---------+--------------------+--------------------+
|education_id|    value|          created_at|          updated_at|
+------------+---------+--------------------+--------------------+
|           1| tertiary|2025-02-28 15:31:...|2025-02-28 15:31:...|
|           2|secondary|2025-02-28 15:31:...|2025-02-28 15:31:...|
|           3|  unknown|2025-02-28 15:31:...|2025-02-28 15:31:...|
|           4|  primary|2025-02-28 15:31:...|2025-02-28 15:31:...|
+------------+---------+--------------------+--------------------+

In [6]:
df_marketing_campaign_deposit.show(5)

+------------+---+------------+----------+------------+-------+-------+-------+-----+-------+---+-----+--------+--------+-----+--------+--------+------------------+--------------------+--------------------+
|loan_data_id|age|         job|marital_id|education_id|default|balance|housing| loan|contact|day|month|duration|campaign|pdays|previous|poutcome|subscribed_deposit|          created_at|          updated_at|
+------------+---+------------+----------+------------+-------+-------+-------+-----+-------+---+-----+--------+--------+-----+--------+--------+------------------+--------------------+--------------------+
|           1| 58|  management|         1|           1|  false|  $2143|   true|false|unknown|  5|  may|     261|       1|   -1|       0| unknown|             false|2025-02-28 15:59:...|2025-02-28 15:59:...|
|           2| 44|  technician|         2|           2|  false|    $29|   true|false|unknown|  5|  may|     151|       1|   -1|       0| unknown|             false|2025-02-28 15:59:...|2025-02-28 15:59:...|
|           3| 33|entrepreneur|         1|           2|  false|     $2|   true| true|unknown|  5|  may|      76|       1|   -1|       0| unknown|             false|2025-02-28 15:59:...|2025-02-28 15:59:...|
|           4| 47| blue-collar|         1|           3|  false|  $1506|   true|false|unknown|  5|  may|      92|       1|   -1|       0| unknown|             false|2025-02-28 15:59:...|2025-02-28 15:59:...|
|           5| 33|     unknown|         2|           3|  false|     $1|  false|false|unknown|  5|  may|     198|       1|   -1|       0| unknown|             false|2025-02-28 15:59:...|2025-02-28 15:59:...|
+------------+---+------------+----------+------------+-------+-------+-------+-----+-------+---+-----+--------+--------+-----+--------+--------+------------------+--------------------+--------------------+
only showing top 5 rows

============================Create Profiling Instance============================

In [7]:
df_csv_profiling = Profiling(data=df_csv, table_name="new_bank_transaction.csv")
df_marital_status_profiling = Profiling(data=df_marital_status, table_name="marital_status")
df_education_status_profiling = Profiling(data=df_education_status, table_name="education_status")
df_marketing_campaign_deposit_profiling = Profiling(data=df_marketing_campaign_deposit, table_name="df_marketing_campaign_deposit")

=======================================GET COLUMN NAME FROM TABLE=======================================

In [8]:
csv_table = df_csv_profiling.get_columns()
csv_table

['TransactionID',
 'CustomerID',
 'CustomerDOB',
 'CustGender',
 'CustLocation',
 'CustAccountBalance',
 'TransactionDate',
 'TransactionTime',
 'TransactionAmount (INR)']

In [9]:
missing_value_column = csv_table
unique_column = ['CustGender']
date_column = ['CustomerDOB', 'TransactionDate']
negative_value_column = ['CustAccountBalance','TransactionAmount (INR)']

df_csv_profiling.selected_columns(csv_table, unique_column, missing_value_column, date_column, negative_value_column)
report_csv = df_csv_profiling.reporting()

{'created_at': '2025-04-08', 'report': {'TransactionID': {'data_type': 'StringType()', 'percentage_missing_value': 0.0}, 'CustomerID': {'data_type': 'StringType()', 'percentage_missing_value': 0.0}, 'CustomerDOB': {'data_type': 'StringType()', 'percentage_missing_value': 0.32396594590522115, 'percentage_valid_date': 0.0}, 'CustGender': {'data_type': 'StringType()', 'unique_value': ['F', 'M', 'T', None], 'percentage_missing_value': 0.10490507521217052}, 'CustLocation': {'data_type': 'StringType()', 'percentage_missing_value': 0.014400605779125225}, 'CustAccountBalance': {'data_type': 'StringType()', 'percentage_missing_value': 0.22592738470693813, 'Total Negative Values': 0}, 'TransactionDate': {'data_type': 'StringType()', 'percentage_missing_value': 0.0, 'percentage_valid_date': 0.0}, 'TransactionTime': {'data_type': 'StringType()', 'percentage_missing_value': 0.0}, 'TransactionAmount (INR)': {'data_type': 'StringType()', 'percentage_missing_value': 0.0, 'Total Negative Values': 0}}}

In [10]:
marital_table = df_marital_status_profiling.get_columns()
marital_table

['marital_id', 'value', 'created_at', 'updated_at']

In [11]:
education_table = df_education_status_profiling.get_columns()
education_table

['education_id', 'value', 'created_at', 'updated_at']

In [12]:
marketing_table = df_marketing_campaign_deposit_profiling.get_columns()
marketing_table

['loan_data_id',
 'age',
 'job',
 'marital_id',
 'education_id',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'subscribed_deposit',
 'created_at',
 'updated_at']

========================================CHECK DATA TYPE=======================================

In [13]:
#check data type on csv 
data = {}
for column in csv_table:
    result = df_csv_profiling.check_data_type(column)
    data[column] = result
pprint(data)

{'CustAccountBalance': 'StringType()',
 'CustGender': 'StringType()',
 'CustLocation': 'StringType()',
 'CustomerDOB': 'StringType()',
 'CustomerID': 'StringType()',
 'TransactionAmount (INR)': 'StringType()',
 'TransactionDate': 'StringType()',
 'TransactionID': 'StringType()',
 'TransactionTime': 'StringType()'}

In [14]:
#Check data type on marital_status table
data = {}
for column in marital_table:
    result = df_marital_status_profiling.check_data_type(column)
    data[column] = result
pprint(data)

{'created_at': 'TimestampType()',
 'marital_id': 'IntegerType()',
 'updated_at': 'TimestampType()',
 'value': 'StringType()'}

In [15]:
#Check data type on education_status table
data = {}
for column in education_table:
    result = df_education_status_profiling.check_data_type(column)
    data[column] = result
pprint(data)

{'created_at': 'TimestampType()',
 'education_id': 'IntegerType()',
 'updated_at': 'TimestampType()',
 'value': 'StringType()'}

In [16]:
#Check data type on marketing campaign table
data = {}
for column in marketing_table:
    result = df_marketing_campaign_deposit_profiling.check_data_type(column)
    data[column] = result
pprint(data)

{'age': 'IntegerType()',
 'balance': 'StringType()',
 'campaign': 'IntegerType()',
 'contact': 'StringType()',
 'created_at': 'TimestampType()',
 'day': 'IntegerType()',
 'default': 'BooleanType()',
 'duration': 'IntegerType()',
 'education_id': 'IntegerType()',
 'housing': 'BooleanType()',
 'job': 'StringType()',
 'loan': 'BooleanType()',
 'loan_data_id': 'IntegerType()',
 'marital_id': 'IntegerType()',
 'month': 'StringType()',
 'pdays': 'IntegerType()',
 'poutcome': 'StringType()',
 'previous': 'IntegerType()',
 'subscribed_deposit': 'BooleanType()',
 'updated_at': 'TimestampType()'}

===================================CHECK PERCENTAGE MISSING VALUE===================================

In [17]:
#check missing value on csv 
data = {}
for column in csv_table:
    result = df_csv_profiling.get_percentage_missing_values(column)
    data[column] = result
pprint(data)

{'CustAccountBalance': 0.22592738470693813,
 'CustGender': 0.10490507521217052,
 'CustLocation': 0.014400605779125225,
 'CustomerDOB': 0.32396594590522115,
 'CustomerID': 0.0,
 'TransactionAmount (INR)': 0.0,
 'TransactionDate': 0.0,
 'TransactionID': 0.0,
 'TransactionTime': 0.0}

In [18]:
missing_value = csv_table

In [19]:
table_check = ['loan_data_id',
 'age',
 'job',
 'marital_id',
 'education_id',
 'balance',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',]

#check missing value on marketing_
data = {}
for column in table_check:
    result = df_marketing_campaign_deposit_profiling.get_percentage_missing_values(column)
    data[column] = result
pprint(data)

{'age': 0.0,
 'balance': 0.0,
 'campaign': 0.0,
 'contact': 0.0,
 'day': 0.0,
 'duration': 0.0,
 'education_id': 0.0,
 'job': 0.0,
 'loan_data_id': 0.0,
 'marital_id': 0.0,
 'month': 0.0,
 'pdays': 0.0,
 'poutcome': 0.0,
 'previous': 0.0}

===================================CHECK UNIQUE VALUE===================================

In [20]:
#check unique value csv file on column CustGender 
df_csv_profiling.check_value("CustGender")

['F', 'M', 'T', None]

In [21]:
#check unique value marital_status table on column value
df_marital_status_profiling.check_value("value")

['divorced', 'married', 'single']

In [22]:
#check unique value education_status table on column value
df_education_status_profiling.check_value("value")

['unknown', 'tertiary', 'secondary', 'primary']

In [23]:
table_check = ['job', 'contact']
#check unique value on marketing_campaign_deposit
data = {}
for column in table_check:
    result = df_marketing_campaign_deposit_profiling.check_value(column)
    data[column] = result
pprint(data)

{'contact': ['unknown', 'cellular', 'telephone'],
 'job': ['management',
         'retired',
         'unknown',
         'self-employed',
         'student',
         'blue-collar',
         'entrepreneur',
         'admin.',
         'technician',
         'services',
         'housemaid',
         'unemployed']}

===================================CHECK NEGATIVE VALUE===================================

In [24]:
table_check = ['CustAccountBalance', 'TransactionAmount (INR)']
#check NEGATIVE VALUE ON CSV
data = {}
for column in table_check:
    result = df_csv_profiling.check_negative_value(column)
    data[column] = result

In [25]:
table_check = ['balance']
#CHECK NEGATIVE VALUE ON TABLE MARKETING_CAMPAIGN_DEPOSIT
data = {}
for column in table_check:
    result = df_marketing_campaign_deposit_profiling.check_negative_value(column)
    data[column] = result

===================================CHECK VALID DATE===================================

In [26]:
#CHECK VALID DATE ON CSV DATA
df_csv_profiling.get_percentage_valid_date("CustomerDOB")

0.0